fastapi>=0.100.0
uvicorn>=0.22.0
sqlmodel>=0.0.14
asyncpg>=0.27.0
pydantic-settings>=2.0.0
pydantic[email]>=2.0.0
python-multipart
email-validator
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
httpx>=0.23.0
motor>=3.3.0
pymilvus>=2.3.0
openai>=1.0.0
jinja2
fastapi-mail>=1.4.1
